<div class="page">
  <header class="header-container">
    <div class="nav-container">
      <app-nav></app-nav>
    </div>
  </header>

  <div class="home">
    <div class="intro-container">
      <div class="title">
        <h1 class="huge-text white-text">Front-end Developer</h1>
      </div>
      <div class="subtitle">
        <h3 class="medium-text white-text">Help start-ups, small business or any project <br>
        to achieve high quality web sites and great user experience </h3>
      </div>
    </div>
  </div>

</div>
