.nav-bar {
  height: 15%;
  background: #20FC8F;
  height: 90px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  align-items: center;
  padding: 0 1em;
}

.nav-brand {
  width: 350px;
  height: auto;
  justify-self: start;
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 100%;
  background: white;
  border: none;
  width: 80px;
  height: 80px;
  margin-right: 1em;
}

.nav-items {
  justify-self: end;
}

.nav-item {
  margin: 20px;
}

.nav-link {
  &:hover {
    cursor: pointer;
  }
}
