<div class="nav-bar">
  <div class="nav-brand">
    <div class="logo"></div>  <!-- change for my logo in the future -->
    <div class="flex v-axis">
      <span class="medium-text semibold white-text">Jeremy Guillen</span>
      <span class="small-text semibold white-text">Front-end developer</span>
    </div>
  </div>

  <div class="nav-items flex">
    <div class="nav-item medium-text white-text"><a class="nav-link">About</a></div>
    <div class="nav-item medium-text white-text"><a class="nav-link">Contact</a></div>
    <div class="nav-item medium-text white-text"><a class="nav-link">Projects</a></div>
    <div class="nav-item medium-text white-text"><a class="nav-link">Testimonies</a></div>
    <div class="nav-item medium-text white-text button blue-button"><a class="nav-link">Let's work together</a></div>
  </div>
</div>
