<div class="nav-bar">
  <div class="nav-brand">
    <div class="logo"></div>  <!-- change for my logo in the future -->
    <div class="flex v-axis">
      <span class="medium-text semibold white-text">Jeremy Guillen</span>
      <span class="small-text semibold white-text">Front-end developer</span>
    </div>
  </div>

  <div class="nav-items flex">
    <ul class="flex">
      <li><a [routerLink]="['/home']">About</a></li>
      <li><a [routerLink]="['/home']">Contact</a></li>
      <li><a [routerLink]="['/home']">Projects</a></li>
      <li><a [routerLink]="['/home']">Testimonies</a></li>
      <li><a class="button-style blue" [routerLink]="['/home']">Let's work together</a></li>
    </ul>
  </div>
</div>
