/* You can add global styles to this file, and also import other style files */
@import './assets/scss/fonts/fonts';
$black: #090809;
$white: #FFF;
$primary-color: #E27144;
$font: 'Prompt';

body {
  margin: 0;
  overflow-y: auto;
  font-family: 'Promt';

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.has-text-centered {
  text-align: center;
}

.white-bg {
  background: $white;
}

.white-text {
  color: $white;
}

.medium-text,
.small-text,
.huge-text,
.big-text {
  font-family: $font;
}

.huge-text {
  font-size: 36px;
}

.big-text {
  font-size: 30px;
}

.medium-text {
  font-size: 18px;
}

.small-text {
  font-size: 15px;
}

.semibold {
  font-weight: 500;
}

.flex {
  display: flex;

  &.v-axis {
    flex-direction: column;
  }
}

.relative {
  position: relative;
}

.button {
  border-radius: 30px;
  border: none;
  padding-left: .8em;
  padding-right: .8em;

  &.blue-button {
    background: #00C3EA;
  }
}
